/* dark colour scheme */
:root {
  --pagecolour: #333333;  /* dark grey */
  --maintext: #dddddd;    /* almost white */
  --faded: #888888;       /* light grey */
  --highlight: #ff69b4;   /* bright pink */
  --lowlight: #ba68c8;    /* purple */
}
