<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "header.html" . }}

  <body>
    {{ partial "default_header_image.html" . }}

    <div class="main-content">
      {{ partial "menu_strip.html" . }}

      <main>
        {{ .Content }}


      <br><br><hr>
      <div class="prettylistcontainer">
      <ul class="prettylist">
        {{ range (where .Data.Pages "Section" "!=" "") }}
        <li class="prettylist">
          <p class="prettylist">
            <a href="{{ .URL }}">{{ .Title | markdownify }}</a>&nbsp;&nbsp;
            <span class="prettylistdate">{{ .Date.Format "02 Jan 2006" }}</span>
            <br>
            <span class="prettylistsummary">{{ .Summary | markdownify }}</span>
          </p>
        </li>
        {{ end }}
      </ul>
      </div>
      <br>
      </main>

      {{ partial "footer.html" . }}

    </div>
  </body>
</html>
